<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--FlowersController-->
    <servlet>
        <servlet-name>FlowersController</servlet-name>
        <servlet-class>com.malex.controller.FlowersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlowersController</servlet-name>
        <url-pattern>/flowers</url-pattern>
    </servlet-mapping>

    <!--ShoppingСartController-->
    <servlet>
        <servlet-name>ShoppingСartController</servlet-name>
        <servlet-class>com.malex.controller.ShoppingСartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingСartController</servlet-name>
        <url-pattern>/my_cart</url-pattern>
    </servlet-mapping>

    <!-- LoginController  -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.malex.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

</web-app>

